//
// .projects
//

.photo-gallery {
  list-style-type: none;
  margin: auto;
  width: 50%;
  padding: 5px;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 7px;
  border: 1px solid #ccc;
  background-color: #fafafa;
}

.thumbnail:hover {
  border: 1px solid #777;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail:hover .image {
  opacity: 0.3;
}

.thumbnail:hover .middle {
  opacity: 1;
}

.popup {
  background-color: #5f5f5f;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.dark-theme .popup {
  background-color: #2f2f2f;
  color: #dcdcdc;
}

.dark-theme .thumbnail {
  background-color: #2f2f2f;
  border: 1px solid #444;
}