.container {
  max-width: $maxWidth;
}

.wrapper-masthead {
 margin-bottom: 30px;
}

.posts > .post {
 background: $lightestGray;
 padding: 0 .5em 0 .5em;
 -webkit-border-radius: .5em;
 -moz-border-radius: .5em;
 border-radius: .5em 2em 1em .25em;
}